* {
  box-sizing: border-box;
  /* adding padding doesnt affect width */
  margin: 0;
  padding: 0;
}

/* General Styles */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

/* * {
  border: 1px solid white;
} */

body {
  font-family: 'Rubik', sans-serif;
  background: black;
  color: white;
  line-height: 1.8;
  /* so horizontal bar is hidden */
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #00ed82;
}

.button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  display: inline-block;
  color: black;
  background: white;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  min-width: 150px;
  letter-spacing: 1.25px;
}

.buttonOutline {
  background: none;
  color: white;
  border: 1.5px solid white;
}

.buttonOutline:hover {
  color: white;
  border-color: grey;
}

.legalText {
  font-size: 12px;
  color: grey;
  margin-top: 20px;
}

h3 {
  font-size: 26px;
  font-weight: 300;
}

h4 {
  color: #00ed82;
  text-transform: uppercase;
  font-size: 12px;
}

.subHeaderLink {
  display: block;
  color: grey;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: underline;
}

.largeText {
  font-size: 65px;
  font-weight: bold;
}

.subText {
  max-width: 850px;
  font-size: 25px;
  margin-bottom: 10px;
}

/* Header */
header {
  height: 600px;
  background: url(./img/header.jpg) no-repeat center / cover;
}

nav {
  display: flex;
  /* button is the only thing there */
  justify-content: flex-end;
  padding: 20px 40px;
  z-index: 2;
  position: relative;
  /* to use z index you need positioning */
}

.loginButton {
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.logo {
  width: 250px;
  margin: 20px 0;
}

.headerContent {
  display: flex;
  flex-direction: column;
  /* so moves vertically */
  justify-content: flex-start;
  align-items: center;
  margin-top: 35px;
  /* border: 1px solid gold; */
}

.headerTextOne {
  font-weight: bold;
  font-size: 22px;
}

.headerTextTwo {
  font-size: 18px;
  margin: 20px 0;
}

.trialButton:hover {
  opacity: 0.7;
}

/* ghost element to style */
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  z-index: 1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 15.54%,
    rgba(0, 0, 0, 0.192) 60.23%,
    rgba(0, 0, 0, 8e-5) 100%
  );
}

/* Sub Header */
.subHeader {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 40px;
  align-items: center;
  padding: 30px 40px;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
}
/* targets top level div and then goes to last div */
.subHeader > div:last-of-type {
  justify-self: end;
  align-self: end;
}

.subHeader > div:last-of-type .subHeaderLink {
  text-align: center;
}

/* Categories  */

.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 80px 40px;
  justify-content: center;
}

.covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 20px;
}

/* targets top level divs */
/* box relative so text can be absolute */
.covers > div {
  height: 500px;
  width: 300px;
  position: relative;
  /* border: 1px solid gold; */
}

.coverOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.coverOne {
  background: url(./img/cover-1.jpg) no-repeat center center / cover;
}
.coverTwo {
  background: url(./img/cover-2.jpg) no-repeat center center / cover;
}
.coverThree {
  background: url(./img/cover-3.jpg) no-repeat center center / cover;
}
.coverFour {
  background: url(./img/cover-4.jpg) no-repeat center center / cover;
}

.coverText {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: left;
}

.live {
  background: #151516;
  padding: 40px;
}

.liveBorder {
  border: 5px solid #1ce783;
  border-radius: 16px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.live a {
  text-transform: uppercase;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: underline;
}

/* Chevron */
.chevron {
  fill: #fff;
  margin: auto;
  width: 30px;
  height: 30px;
  padding-top: 40px;
  animation: hover-me 0.5s infinite ease-in-out alternate;
}

@keyframes hover-me {
  100% {
    transform: translate3d(0, 25px, 0);
  }
}

/* repeat(4, 1fr) */

/* Media Queries */
/* Header MQ */

@media only screen and (max-width: 1100px) {
  .covers {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    width: 200px;
  }

  .headerContent {
    text-align: center;
    padding: 0 25px;
  }

  .headerTextOne {
    margin-bottom: 50px;
  }

  .headerTextTwo {
    display: none;
  }

  .subHeader {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 25px;
  }

  .subHeader img {
    width: 200px;
    margin: auto;
  }

  .subHeader > div:last-of-type {
    justify-self: center;
    align-self: center;
  }

  .largeText {
    line-height: 1.4;
    font-size: 40px;
  }
  .subText {
    font-size: 20px;
  }

  .covers {
    grid-template-columns: 1fr;
  }

  .liveBorder {
    padding: 30px 10px;
  }

  .chevron {
    padding-top: 8px;
  }
}
